*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-image: url(devarticle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:max-content;
}
.evenement-section{
    height: 100%;
}header{
    height: 20%;
    margin: 10px;
}.cercls{
    margin-top:10px ;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.line{
    width: 19%;
    height: 4px;
    background-color: rgb(122, 128, 126);
}
.cercls .cercle{
    background-color: rgb(146, 146, 147);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}.choix{
    width: 100%;
    height: 100vh;
}.choix h3{
    margin-left: 10px;
}.evenments{
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 15px;
}.evenment1{
    width: 45%;
    box-sizing: border-box;
    height: 40%;
    border-radius: 10px;
    padding: 15px;
    border: .1rem solid rgb(60, 58, 58);
    background-color: rgb(203, 205, 205);
    position: relative;
    color: rgb(0, 0, 0);
}
.evenment1 h4{
    margin-top:-10px;
}.evenment1 p{
    margin-top: 8px;
}
.evenment1 button{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 35px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
/* section 2 */
.billets-section{
    width: 100%;
    height: 100vh;
    display: none;
}
.billets-section h2{
    margin: 20px 0 5px 10px;
}
.billes{
    width: 100%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}.billes-position{
    width: 95%;
    height: 70%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: antiquewhite;

}.billets-content{
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(211, 202, 202);
    border: 1px solid rgb(155, 129, 129);
}.billets-content h3{
    margin: 20px;
}.billets-content p{
    margin: 20px 0 20px 20px;
}.billets-section>p{
    padding: 10px;
    margin: 20px 0 5px 30px;
}.next-page{
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

}.next-page button,#button2{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}#button2{
    background-color: rgb(137, 137, 137);
}.nombre-billets{
    height: 120px;

}.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80px;
}.nombre div{
    width: 15%;
    text-align: center;
    align-content: center;
    border: none;
    border-radius: 5px;
    background-color: rgb(191, 123, 35);
    height: 30px;
}
/* page 3 or section 3 */
.Informations-participants{
    height: 100%;
    display: none;
}.Informations-participants h2{
    margin: 10px;
}
.Informations-participants p{
    margin: 10px 0 10px 20px;
}
.wraper{
    width: 100%;
}
.inscription{
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inscription-form{
    color: aliceblue;
    width: 96%;
    box-shadow: 0 0 10px var(--color-accent);
    border-radius: 10px;
    border: 1px solid rgba(185, 25, 129, 0.808);
    background-color: rgb(208, 208, 208)
}
.wraper h1{
    font-size: 40px;
    text-align: center;
    font-family: "Super Sliced";
    letter-spacing: .5rem;
    color: black;
}
.wraper .input-box{
    width : 100%;
    height:50px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box input{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    border: 2px solid rgb(230, 129, 255);
    text-align: center;
}
.wraper .Remember-forget{
    gap: 30px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    color: rgb(2, 0, 0);
    font-weight: 100;
}
.Remember-forget label input{
    margin-right: 12px;
}
.Remember-forget a{
    color: rgb(19, 2, 2);
}.login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wraper .btn{
    width:80%;
    height:45px;
    border:none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(3, 11, 233);
    cursor: pointer;
    font-size: 16px;   
    margin-top:20px;
    background-color:#0606d4;
    color: white;
    font-weight: 600;
}
.wraper .register-link{
    font-size:14.5px;
    text-align:center;
    margin: 20px 0 15px;
}.register-link a{
    font-size: 18px;
    text-decoration: underline;
    color: rgb(168, 25, 25);
}
.register-link p{
    color:rgb(45, 46, 48);
    text-decoration:none;
    font-weight: 600;
}