*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-image: url(devarticle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:max-content;
}
.evenement-section{
    height: 100%;
}header{
    height: 20%;
    margin: 10px;
}.cercls{
    margin-top:10px ;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.line{
    width: 19%;
    height: 4px;
    background-color: rgb(122, 128, 126);
}
.cercls .cercle{
    background-color: rgb(146, 146, 147);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}.choix{
    width: 100%;
    height: 100vh;
}.choix h3{
    margin-left: 10px;
}.evenments{
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 15px;
}.evenment1{
    width: 45%;
    box-sizing: border-box;
    height: 40%;
    border-radius: 10px;
    padding: 15px;
    border: .1rem solid rgb(60, 58, 58);
    background-color: rgb(203, 205, 205);
    position: relative;
    color: rgb(0, 0, 0);
}
.evenment1 h4{
    margin-top:-10px;
}.evenment1 p{
    margin-top: 8px;
}
.evenment1 button{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 35px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
