*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #e5e8e8;
    background-repeat: no-repeat;
    background-size: cover;
    height:max-content;
}
.evenement-section{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}header{
    height: 20%;
    margin: 10px;
    font-family: 'Bebas Neue', sans-serif;
}.cercls{
    margin-top:10px ;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}.line{
    width: 19%;
    height: 4px;
    background-color: rgb(122, 128, 126);
}
.cercls .cercle{
    background-color: rgb(146, 146, 147);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}.choix{
    width: 100%;
    height: 100vh;
}.choix h3{
    margin-left: 10px;
}.evenments{
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 15px;
}.evenment1{
    width: 45%;
    box-sizing: border-box;
    height: 40%;
    border-radius: 10px;
    padding: 15px;
    border: none;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.137);
    background: linear-gradient(to bottom right, rgb(80, 135, 130), rgb(182, 244, 255));
    position: relative;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.evenment1:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.267);
    transform: translateY(-5px);
}
.evenment1 h4{
    margin-top:-10px;
}.evenment1 p{
    margin-top: 8px;
}
.evenment1 button{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 40px;
    border-radius: 10px;
    border: .5px solid black;
    background-color: rgb(120, 213, 229);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
/* section 2 */
.billets-section{
    width: 100%;
    height: 100vh;
    display: none;
}
.billets-section h2{
    margin: 20px 0 5px 10px;
}
.billes{
    width: 100%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}.billes-position{
    width: 95%;
    height: 70%;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}.billets-content{
    width: 90%;
    height: 80%;
    border-radius: 10px;
 background: linear-gradient(to bottom right, rgb(80, 135, 130), rgb(182, 244, 255));
    border-left: 4px solid rgb(79, 78, 78);
    border-bottom: 4px solid rgb(93, 90, 90);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.137);
    overflow-y: auto;
}.billets-content h3{
    margin: 20px;
}.billets-content p{
    margin: 20px 0 20px 20px;
}.billets-section>p{
    padding: 10px;
    margin: 20px 0 5px 30px;
}.next-page{
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

}.next-page .nextbtn{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.137);
    background-color: rgb(82, 199, 253);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}.next-page .button2{
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.137);
    border-radius: 5px; 
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(137, 137, 137);
}.nombre-billets{
    height: 120px;

}.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80px;
}.nombre div{
    width: 20%;
    text-align: center;
    align-content: center;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.137);
    background-color: rgb(119, 215, 207);
    height: 40px;
}.nombre button{
    width: 30px;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(142, 142, 142);
}
/* page 3 or section 3 */
.Informations-participants{
    height: 100%;
    display: none;
}.Informations-participants h2{
    margin: 10px;
}
.Informations-participants p{
    margin: 10px 0 10px 20px;
}
.wraper{
    width: 100%;
}
.inscription{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inscription-form{
    color: aliceblue;
    width: 96%;
    box-shadow: 0 0 10px var(--color-accent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left:3px solid black;
   background: linear-gradient(to bottom right, rgb(80, 135, 130), rgb(182, 244, 255));
    padding: 20px 0;
}
.wraper h1{
    font-size: 40px;
    text-align: center;
    font-family: "Super Sliced";
    letter-spacing: .5rem;
    color: black;
}
.wraper .input-box{
    width : 100%;
    height:50px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}.NoValid{
color: red;   
}
.input-box input{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    border: none;
    border-left: 4px solid rgb(8, 14, 15);
    border-bottom: 4px solid rgb(8, 14, 15);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.137);
    outline: none;
    text-align: center;
}
.wraper .Remember-forget{
    gap: 30px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    color: rgb(2, 0, 0);
    font-weight: 100;
}
.Remember-forget label input{
    margin-right: 12px;
}
.login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.wraper .btn{
    width:80%;    text-align: center;
        align-content: center;
    height:45px;
    border:none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(29, 150, 172);
    cursor: pointer;
    font-size: 16px;   
    margin-top:20px;
    background-color:#25b2d5;
    color: white;
    font-weight: 600;
}.btn:hover{
    box-shadow: 0 0 15px rgb(17, 18, 17);
}
.particepent{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-items: center;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    border: 1px solid black;
}.particepent :nth-child(2){
    color: rgb(62, 2, 119);
}
/* class add by js */
.affiche{
    width: 160px;
    height: fit-content;
    margin: -10px auto;
    border-radius: 5px;

}#confirmation{
    width: 100%;
    height: 100vh;
    display: none;
}.details-reservation{
  width: 90%;
    height: fit-content;
    margin: 0 auto;
  padding: 10px;
  border-left: 3px solid black;
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgb(80, 135, 130), rgb(182, 244, 255));
}
.details-reservation h2{
    margin-bottom: 10px;
}
.details-reservation p{
    margin: 5px 0;
}
#details-participants {
  width: 80%;

  margin: 0 auto;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
}
.participant-info{
    border-left: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.137);
    padding: 10px;
    background-color: rgb(108, 181, 177);
    font-weight: 700;
    border-radius: 10px;
  margin: 10px 0;
}
footer{
    width: 100%;
    height: 80px;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer p{
    margin: 0;
    font-size: 14px;
}
#confirmer{

    background-color: rgb(8, 175, 69);

}
@media screen and (min-width: 1024px) {
    .evenment1{
        width: 30%;
        height: 50%;
    }
    .evenment1 button{
        left: 170px;
    }.billets-content{
        width: 50%;
    }.inscription-form{
        width: 50%;
    }
    .nombre div{
        width: 10%;
    }
}